<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.happy.auction">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name=".AppInstance"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".module.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".module.detail.AuctionDetailActivity">
        </activity>
        <activity android:name=".module.me.SettingActivity">
        </activity>
        <activity android:name=".module.login.LoginActivity">
        </activity>
        <activity android:name=".module.login.ForgetActivity">
        </activity>
        <activity android:name=".module.me.BalanceActivity">
        </activity>
        <activity android:name=".module.me.OrderActivity"/>
        <activity android:name=".module.detail.BidRecordActivity"/>
        <activity android:name=".module.me.OrderDetailActivity"/>
        <activity android:name=".module.pay.OrderPayActivity">
        </activity>
        <activity android:name=".module.pay.AuctionPayActivity"/>
        <activity android:name=".module.pay.ChargePayActivity"/>
        <activity android:name=".module.me.ManagerActivity">
        </activity>
        <activity android:name=".module.me.UsernameActivity"/>
    </application>

</manifest>